<%= stylesheet_link_tag "euro_index", media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="comments">
    <div class="comment">
        <% @user.euro_posts.each do |euro_post| %>
    </div>
    <div class="post">
        <div class="title">
            <p class="title">タイトル</p>
            <section class="title"><%= euro_post.title %></section>
        </div>
        <div class="comments">
            <p class="comments">コメント</p>
            <section class="comments"><%= euro_post.text %></section>
        </div>
        <div class="image">
            <section class="image"><%= image_tag euro_post.display_image if euro_post.image.attached? %></section>
            <% if euro_post.user_id == @current_user.id %>
            <div class="post_destroy">
             <%= button_to("投稿削除", euro_post_path(euro_post), {method: :delete, class: "btn-danger"}) %>
              <% end %>
            </div>
            <p class="user_name">ユーザー名 <%= link_to(euro_post.user.name, user_path(euro_post.user_id)) %></p>
            <% end %>
        </div>
    </div>
</div>